# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/
my_venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Django stuff
*.log
db.sqlite3
db.sqlite3-journal
media/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Static files (optional)
staticfiles/

# Python cache
.pytest_cache/
.mypy_cache/

# Coverage reports
.coverage
htmlcov/