{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">



<!-- ================= NAVBAR ================= -->
<nav class="navbar">
    <div class="nav-container">

        <!-- Logo -->
        <a href="home" class="logo">
            FARAZ<span>.</span>
        </a>

        <!-- Navigation -->
        <div class="right-nav">
            <ul>
                <li>
                    <a href="home" class="active">
                        <i class="fa-solid fa-house"></i>
                        Home
                    </a>
                </li>

                <li>
                    <a href="about">
                        <i class="fa-solid fa-user"></i>
                        About
                    </a>
                </li>

                <li>
                    <a href="#skills">
                        <i class="fa-solid fa-code"></i>
                        Skills
                    </a>
                </li>

                <li>
                    <a href="projects">
                        <i class="fa-solid fa-briefcase"></i>
                        Projects
                    </a>
                </li>

                <li>
                    <a href="contact">
                        <i class="fa-solid fa-envelope"></i>
                        Contact
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>


<!-- ================= HOME ================= -->
<section id="home" class="home">

    <div class="home-container">

        <!-- Left Content -->
        <div class="home-left">

            <p class="intro">Hi, I'm</p>

            <h1>FARAZ <span>ALI</span></h1>

            <h2>Backend Developer</h2>

            <p class="home-description">
                I build secure, scalable and efficient backend applications
                using Python and Django. I enjoy creating APIs, working with
                databases and solving real-world problems through code.
            </p>

            <div class="home-buttons">
                <a href="{% static 'pdf/Faraz_Ali_C_Resume.docx' %}"
                   target="_blank"
                   class="btn resume-btn">
                    <i class="fa-solid fa-file"></i>
                    Resume
                </a>

                <a href="contact" class="btn contact-btn">
                    Contact Me
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>

            <!-- Social Links -->
            <div class="social-links">

                <a href="https://github.com/farazalisayyed2728" target="_blank">
                    <i class="fa-brands fa-github"><img src="{% static 'images/github (1).png' %}"
                         alt="Faraz Ali"></i>
                </a>

                <a href="www.linkedin.com/in/faraz-ali-8269292b3" target="_blank">
                    <i class="fa-brands fa-linkedin"><img src="{% static 'images/linkedin (1).png' %}"
                         alt="Faraz Ali"></i>
                </a>

                <a href="https://www.instagram.com/codewithfax" target="_blank">
                    <i class="fa-brands fa-instagram"><img src="{% static 'images/.png' %}"
                         alt="Faraz Ali"></i>
                </a>

            </div>

        </div>


        <!-- Right Content -->
        <div class="home-right">

            <div class="profile-card">

                <div class="profile-image">
                    <img src="{% static 'images/spidy.jpg' %}"
                         alt="Faraz Ali">
                </div>

                <div class="code-decoration">
                    &lt;/&gt;
                </div>

            </div>

        </div>

    </div>

</section>